[Unit]
Description=Sync Debian Mirror
After=network.target

[Service]
Type=simple
User=mirrors
Group=mirrors
ExecStart=/home/mirrors/bin/debian-mirror-sync-check.sh
WorkingDirectory=/home/mirrors
